<div class="container">

<h1>Contact</h1>
<!-- <p>Find me in app/views/simple_pages/contact.html.erb</p> -->

<%= flash[:notice] %>


  <div class="card-header bg-warning contact">
    <h4>Bike Berlin GmbH</h4>
    </div>
      <div class="card-body bg-light contact">

      <p>Velo Road 123</p>
      <p>32133 Berlin</p>
      <p>Phone: 030 2562414663</p>
</div>

<br>
<br>
<%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
<div class="jumbotron">
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter Name" %>
  </div>
  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", placeholder: "Enter Email" %>
  </div>
  <div class="form-group">
    <%= form.label :message %>
    <%= form.text_area :message, class: "form-control", placeholder: "Enter Message", rows: 5 %>
  </div>
  <%= form.submit "Send", class: "form_label btn btn-info col-md-2" %>
<% end %>
</div>



</div>
