<nav class="navbar navbar-expand-lg bg-warning fixed-top" role="navigation" id="navbar-example">

  <div class="navbar-brand btn font-weight-bold text-secondary"><%= link_to root_path do %><i class="fas fa-bicycle"></i><% end %></div> <!--navigation branding, a name or a logo of the company or person goes here.-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
    </button> <!--here all of your links and navigation components go-->

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ml-auto ">
    <li class="nav-item btn">
      <%= link_to "Home", root_path, class:"font-weight-bold text-secondary"%>
    </li>

    <li class="nav-item btn ">
      <%= link_to "About", simple_pages_about_path, class:"font-weight-bold text-secondary" %>
    </li>

    <li class="nav-item btn ">
      <%= link_to "Products", products_path, class:"font-weight-bold text-secondary" %>
    </li>

    <li class="nav-item btn ">
      <%= link_to "Orders", orders_path, class:"font-weight-bold text-secondary" %>
    </li>

    <li class="nav-item btn">
      <%= link_to "Contact", simple_pages_contact_path, class:"font-weight-bold text-secondary" %>
    </li>

    <li class="nav-item btn">
      <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
      <%# <%= form.label :q, 'Search:' %>
      <%= form.text_field :q, id: 'q', value: params[:q] %>
      <%= form.submit'Find', class:'btn btn-outline-secondary btn-sm' %>
    <% end %>
    </li>

</ul>
</div>
</nav> <!-- end nav container -->

<!-- end nav bar -->
