<!-- shows product details  -->
<% cache @product do %>

<div class="jumbotron ">
<div class="d-flex flex-column">

  <div class="row">
    <div class="col-sm">
      <strong>Name:</strong>
      <%= @product.name %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <strong>Description:</strong>
      <%= @product.description %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <strong>Color:</strong>
      <%= @product.color %>
    </div>
  </div>

  <div class="row">
        <div class="col-sm">
      <strong><i class="fas fa-euro-sign"></i> Price:</strong>
      <%= @product.price %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
    <p id="imagedetailsite"><%= image_tag(@product.image_url, class: "img-fluid img-thumbnail img-zoom",  data_zoom_image: image_path(@product.image_url)) unless @product.image_url.nil? %></p>
    </div>
  </div>

  <% end %>

  <div class="row">
    <div class="col-sm">
      <strong>Average Rating:</strong>
      <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div>
    </div>
  </div>
<br>

  <div class="row">
    <div class="col-sm">
  <%= form_with(url: '/payments/create') do |form| %>
  <%= hidden_field :product_id, value: @product.id %>
  <%= render partial: "devise/shared/stripe_checkout_button" %>
  <% end %>
    </div>
  </div>

  <br>

  <!-- if there is no comment highest_rating_comment will be nil. If so highest_rating_comment.body would crash.  -->
  <% if @product.highest_rating_comment.nil? %>
  <div class="row">
      <div class="col-sm">
      <strong><i class="far fa-comment-alt"></i> No Comments!</strong>
    </div>
  </div>
  <% else %>
  <div class="row">
    <div class="col-sm">
      <strong><i class="far fa-comment-alt"></i> Highest rating comment:</strong>
      <%= @product.highest_rating_comment.body %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <strong><i class="far fa-comment-alt"></i> Lowest rating comment:</strong>
      <%= @product.lowest_rating_comment.body %>
    </div>
  </div>
  <% end %>

    <div class="row">
        <div class="col-sm">
          <%= link_to 'Edit', edit_product_path(@product), :class => "link", class:'text-dark' %> |
          <%= link_to 'Back', products_path, :class => "link", class:'text-dark'  %>
        </div>
    </div>
  </div>
</div>




    <div class="container">
      <div class="row">
      <div class="col">
  <%= render 'comments/form' %>  <!-- render form in folder comments-->
      </div>

      <div class="col">
          <div class="card">
                <div class="card-header bg-warning">
                <p><%= will_paginate @comments, class: 'bg-warning' %></p>
              </div>
        </div>

      <%= render 'comments/comments' %>



    <!-- <div class="digg_pagination">
    <div class="page_info"> -->


  </div>
</div>
</div>
